In [1]:
import pandas as pd
import glob

In [2]:
path = r'D:\Final_Project' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

C:\Users\beach\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\beach\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (0,32) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\beach\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\beach\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (0,28,30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\beach\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (28,30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\beach\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (0,28) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\beach\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  # Remove the CWD from sys.path while we load stuff.

In [7]:
frame.tail(10)

,WBAN,begin,call,count_dewp,count_slp,count_stp,count_temp,count_visib,country,da,...,state,stationUSAF,stn,stp,temp,thunder,tornado_funnel_cloud,visib,wdsp,year
21440520,23237,19481101,KSCK,24,0,24,24,24,US,11,...,CA,999999,NaN,1019.3,55.7,0,0,5.7,1.0,1990
21440521,23237,19410103,KSCK,24,0,24,24,24,US,11,...,CA,724920,NaN,1019.3,55.7,0,0,5.7,1.0,1990
21440522,23237,19481101,KSCK,23,0,24,24,23,US,17,...,CA,999999,NaN,1019.4,58.0,0,0,5.5,3.9,1990
21440523,23237,19410103,KSCK,23,0,24,24,23,US,17,...,CA,724920,NaN,1019.4,58.0,0,0,5.5,3.9,1990
21440524,23237,19481101,KSCK,24,0,24,24,24,US,18,...,CA,999999,NaN,1015.9,56.2,0,0,14.0,3.6,1990
21440525,23237,19410103,KSCK,24,0,24,24,24,US,18,...,CA,724920,NaN,1015.9,56.2,0,0,14.0,3.6,1990
21440526,23237,19481101,KSCK,24,0,24,24,24,US,24,...,CA,999999,NaN,1018.3,48.3,0,0,7.4,2.0,1990
21440527,23237,19410103,KSCK,24,0,24,24,24,US,24,...,CA,724920,NaN,1018.3,48.3,0,0,7.4,2.0,1990
21440528,94012,19610201,KHVR,0,0,24,24,0,US,22,...,MT,999999,NaN,913.0,60.1,0,0,999.9,999.9,1990
21440529,94012,19730101,KHVR,0,0,24,24,0,US,22,...,MT,727770,NaN,913.0,60.1,0,0,999.9,999.9,1990

# cleandf.