In [1]:
from numpy.random import seed
seed(1)

In [2]:
import pandas as pd

In [3]:
csv_path = "final-data.csv"
weather_df = pd.read_csv(csv_path)

In [4]:
weather_df.dtypes

Unnamed: 0                int64
name                     object
state                    object
lat                     float64
lon                     float64
year                      int64
mo                        int64
da                        int64
temp                    float64
max                     float64
min                     float64
rain_drizzle              int64
snow_ice_pellets          int64
hail                      int64
thunder                   int64
tornado_funnel_cloud      int64
dtype: object

In [6]:
weather_df.describe()

,Unnamed: 0,lat,lon,year,mo,da,temp,max,min,rain_drizzle,snow_ice_pellets,hail,thunder,tornado_funnel_cloud
count,8.205291e+06,8.205291e+06,8.205291e+06,8.205291e+06,8.205291e+06,8.205291e+06,8.205291e+06,8.205291e+06,8.205291e+06,8.205291e+06,8.205291e+06,8.205291e+06,8.205291e+06,8.205291e+06
mean,4.102645e+06,3.584556e+01,-9.266935e+01,2.007174e+03,6.466509e+00,1.571847e+01,6.045276e+01,7.825339e+01,5.464965e+01,2.919176e-01,5.505082e-02,7.112484e-04,8.095715e-02,3.082158e-04
std,2.368664e+06,5.142237e+00,1.492755e+01,8.428364e+00,3.432474e+00,8.794953e+00,1.745844e+01,2.508801e+02,2.031281e+02,4.546446e-01,2.280794e-01,2.665976e-02,2.727693e-01,1.755337e-02
min,0.000000e+00,2.455500e+01,-1.242370e+02,1.990000e+03,1.000000e+00,1.000000e+00,-4.920000e+01,-1.410000e+01,-4.310000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.051322e+06,3.181100e+01,-9.921800e+01,2.001000e+03,3.000000e+00,8.000000e+00,4.920000e+01,6.100000e+01,3.790000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,4.102645e+06,3.539000e+01,-8.731700e+01,2.009000e+03,6.000000e+00,1.600000e+01,6.290000e+01,7.500000e+01,5.200000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,6.153968e+06,4.033000e+01,-8.142400e+01,2.014000e+03,9.000000e+00,2.300000e+01,7.420000e+01,8.600000e+01,6.440000e+01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,8.205290e+06,4.746700e+01,-7.192300e+01,2.019000e+03,1.200000e+01,3.100000e+01,1.100000e+02,9.999900e+03,9.999900e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [ ]:
weather_df.columns

In [ ]:
weather_df.count()

In [ ]:
weather_df.head()

In [5]:
mo_data = weather_df[weather_df.state == 'MO']

In [8]:
mo_data.head()

,Unnamed: 0,name,state,lat,lon,year,mo,da,temp,max,min,rain_drizzle,snow_ice_pellets,hail,thunder,tornado_funnel_cloud
2130,2130,ROLLA/VICHY AIRPORT,MO,38.131,-91.768,2004,12,8,45.0,9999.9,9999.9,0,0,0,0,0
2131,2131,VICHY ROLLA NATL ARPT,MO,38.131,-91.768,2004,12,8,45.0,9999.9,9999.9,0,0,0,0,0
2132,2132,ROLLA NATIONAL AIRPORT,MO,38.132,-91.765,2004,12,8,45.0,9999.9,9999.9,0,0,0,0,0
2549,2549,CAPE GIRARDEAU RGNL,MO,37.225,-89.571,2004,6,2,82.2,86.0,77.0,0,0,0,1,0
2550,2550,CAPE GIRARDEAU RGNL ARPT,MO,37.225,-89.571,2004,6,2,82.2,86.0,77.0,0,0,0,1,0

In [6]:
mo_clean = mo_data.drop(columns = ['Unnamed: 0', 'name', 'state'])
mo_clean.head()

,lat,lon,year,mo,da,temp,max,min,rain_drizzle,snow_ice_pellets,hail,thunder,tornado_funnel_cloud
2130,38.131,-91.768,2004,12,8,45.0,9999.9,9999.9,0,0,0,0,0
2131,38.131,-91.768,2004,12,8,45.0,9999.9,9999.9,0,0,0,0,0
2132,38.132,-91.765,2004,12,8,45.0,9999.9,9999.9,0,0,0,0,0
2549,37.225,-89.571,2004,6,2,82.2,86.0,77.0,0,0,0,1,0
2550,37.225,-89.571,2004,6,2,82.2,86.0,77.0,0,0,0,1,0

In [7]:
X = mo_clean.drop(columns=['temp','year',
       'max', 'min', 'rain_drizzle', 'snow_ice_pellets', 'hail', 'thunder',
       'tornado_funnel_cloud'],  axis=1)
y = mo_clean["rain_drizzle"]
print(X.shape, y.shape)

(386403, 4) (386403,)

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [9]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [10]:
LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=300, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=300, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [11]:
classifier.fit(X_train, y_train)

C:\Users\abiel\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [12]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.6931974244484165
Testing Data Score: 0.6931915818676825

In [44]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [0 0 0 0 0 0 0 0 0 0]
First 10 Actual labels: [1, 0, 1, 0, 0, 0, 0, 0, 1, 1]

In [14]:
X_test[:1]

            lat     lon  mo  da
5955221  39.297 -94.731   8  17

In [46]:
len(X_test)

96601

In [108]:
data = [[39.297, -94.731, 4, 15], [39.297, -94.731, 4, 16], [39.297, -94.731, 4, 17]]

In [109]:
df = pd.DataFrame(data, columns = ['lat', 'lon', 'mo', 'da']) 

df.head()

      lat     lon  mo  da
0  39.297 -94.731   4  15
1  39.297 -94.731   4  16
2  39.297 -94.731   4  17

In [94]:
predictions = classifier.predict(df)
print(f"Month: {df.mo[0]}, Day: {df.da[0]} Prediction:   {predictions[0]}")
print(f"First 3 Actual labels: {y_test[:1].tolist()}")

Month: 4, Day: 15 Prediction:   0
First 3 Actual labels: [1]

In [86]:
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions,))

ValueError: Found input variables with inconsistent numbers of samples: [96601, 1]

In [132]:
from sklearn.externals import joblib

In [133]:
joblib.dump(classifier, 'stormchaser.sav')

['stormchaser.sav']

In [137]:
stormchaser3000 = joblib.load('stormchaser.sav')

WARNING:tensorflow:No training configuration found in save file: the model was *not* compiled. Compile it manually.

In [138]:
stormchaser3000

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

rp = stormchaser3000.predict(df)
print(f"Predicted Rain for 4/15/19? : {rp[0]}")

In [139]:
rp = stormchaser3000.predict(df)
print(f"Predicted Rain for 4/15/19? : {rp[0]}")

Predicted Rain for 4/15/19? : 0

NameError: name 'regressor' is not defined